<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite MVC">
                    <match url="^([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)/([0-9]+)" />
                    <action type="Rewrite" url="index.php?controller={R:0}&action={R:1}&id={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>